body {
    width: 700px;
    margin: auto;
    color: rgb(255, 0, 179);
    font: font: italic 1.2rem "Fira Sans", serif;
    background-color: rgb(249, 197, 206);
    line-height: 150%;
    border: dashed rgb(255, 255, 255);
}